@page "/applicant"
@using ResourceMaster.ViewModels
@using MudBlazor
@using ResourceMaster.Services.CustomerService
@inject ISnackbar Snackbar;
@inject ResourceService ResourceService;

<h1>Create new applicant</h1>
<br>
<h3>Person</h3>
<MudForm onsubmit="@HandleSubmit" Model="_resource">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="_resource.firstName" Label="First name" id="firstname" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="_resource.lastName" Label="Last name" id="lastname" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="_resource.age" Label="Age" id="age" Variant="Variant.Outlined" Min="0" Max="99"/>
        </MudItem>
    </MudGrid>
    <br>
    <h3>Address</h3>
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="_resource.street" Label="Street" id="street" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="_resource.zipCode" Label="Zip Code" id="zipCode" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="_resource.location" Label="Location" id="location" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudAutocomplete T="Countries" @bind-Value="_resource.country" Label="Country" Variant="Variant.Outlined" SearchFunc="FilterCountries"/>
        </MudItem>
    </MudGrid>
    <br>
    <h3>Skills</h3>
    <br>
    <Skills OnItemSelected="(skills) => _resource.skills = skills"/>
    <MudGrid>
        <MudItem xs="12" Class="my-4 text-center">
            <MudButton Variant="Variant.Filled"
                       Size="Size.Large"
                       Color="Color.Primary"
                       ButtonType="ButtonType.Submit">
                Add applicant
            </MudButton>
        </MudItem>
    </MudGrid>
</MudForm>

@code{
    private ResourceViewModel _resource = new();

    private async Task HandleSubmit()
    {
        await ResourceService.AddAsync(_resource);
        Snackbar.Add("Successfully added " + _resource.firstName + " " + _resource.lastName);
    }

}

@code {
    private List<Countries> _countries = Enum.GetValues<Countries>().ToList();
    private async Task<IEnumerable<Countries>> FilterCountries(string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            return _countries;
        }

        return await Task.FromResult(_countries.FilterByDisplayName(value));
    }

}
