@page "/applicant"
@using ResourceMaster.ViewModels;
@using MudBlazor;

<h1>Create new applicant</h1>


<MudForm OnSubmit="HandleSubmit" Model="applicant">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="applicant.firstName" Label="First name" id="firstname" Variant="Variant.Text">Some Content follows here</MudField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="applicant.surname" Label="Surname" id="surname" Variant="Variant.Text">Some Content follows here</MudField>
        </MudItem>
        <MudItem xs="12">
            <MudNumericField @bind-Value="applicant.age" Label="Age" id="age" Variant="Variant.Text" Min="0" Max="99"/>
        </MudItem>
        <MudItem xs="12">
            <MudSelect T="Professions" Label="Profession" AnchorOrigin="Origin.BottomCenter">
                @foreach (Professions profession in Enum.GetValues(typeof(Professions)))
                {
                    <MudSelectItem Value="@profession">@profession</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
    </MudGrid>
    <MudButton type="submit">Add applicant</MudButton>
</MudForm>


@code{
    private ApplicantViewModel applicant = new();

    private async Task HandleSubmit()
    {
        applicant = new ApplicantViewModel();
    // TODO: implement code to send to db
    }

}
