@page "/applicant"
@using ResourceMaster.ViewModels;
@using MudBlazor;
@using ResourceMaster.DAL.Models

<h1>Create new applicant</h1>


<MudForm OnSubmit="HandleSubmit" Model="_resource">
    <MudGrid>
        
        <!-- Title: Person -->
        <MudItem xs="12" Class="mb-2">
            <MudTypography Variant="TypographyVariant.h2">Person</MudTypography>
        </MudItem>
        
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="_resource.firstName" Label="First name" id="firstname" Variant="Variant.Text">Some Content follows here</MudField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="_resource.lastName" Label="Surname" id="surname" Variant="Variant.Text">Some Content follows here</MudField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudNumericField @bind-Value="_resource.age" Label="Age" id="age" Variant="Variant.Text" Min="0" Max="99"/>
        </MudItem>
        
        <!-- Title: Address -->
        <MudItem xs="12" Class="my-4">
            <MudTypography Variant="TypographyVariant.h2">Address</MudTypography>
        </MudItem>
        
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="_resource.street" Label="Street" id="street" Variant="Variant.Text">Somestreet 10</MudField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="_resource.zipCode" Label="Zip code" id="zipCode" Variant="Variant.Text">123456</MudField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="_resource.location" Label="Location" id="location" Variant="Variant.Text">Zürich</MudField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudField @bind-value="_resource.country" Label="Country" id="country" Variant="Variant.Text">Switzerland</MudField>
        </MudItem>

        <!-- Skills field -->
        @*
        <MudItem xs="12">
            <MudSelect @bind-Value="_resource.skills" Label="Skills" AnchorOrigin="Origin.BottomCenter">
                @foreach (var skill in _resource.skills)
                {
                    <MudSelectItem Value="@skill">@skill.description</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        *@

    </MudGrid>
    <MudItem xs="12" Class="my-4 text-center">
        <MudButton Variant="Variant.Filled" Size="Size.Large"  Color="Color.Tertiary" type="submit">Add applicant</MudButton>
    </MudItem>
</MudForm>


@code{
    private ResourceViewModel _resource = new();

    private async Task HandleSubmit()
    {
        _resource = new ResourceViewModel();
    // TODO: implement code to send to db
    }

}
