@page "/createCustomer"
@using ResourceMaster.ViewModels;
@using MudBlazor;
@using ResourceMaster.Services.CustomerService
@inject CustomerService CustomerService;
@inject ISnackbar Snackbar;

<h1>Create new customer</h1>

<MudForm onsubmit="@HandleSubmit" Model="_customer">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" @bind-value="_customer.CompanyName" Label="name of corporation" id="corporation" Variant="Variant.Outlined"/>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" @bind-value="_customer.FirstName" Label="firstname" id="firstname" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" @bind-value="_customer.LastName" Label="lastname" id="lastname" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" @bind-value="_customer.Street" Label="street" id="street" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" @bind-Value="_customer.ZipCode" Label="zip code" id="zipCode" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" @bind-value="_customer.Location" Label="location" id="location" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudAutocomplete T="Countries" @bind-Value="_customer.Country" Label="Country" Variant="Variant.Outlined" SearchFunc="FilterCountries" />
        </MudItem>
    </MudGrid>
    <MudGrid>
        <MudItem xs="12" Class="my-4 text-center">
            <MudButton Variant="Variant.Filled"
                       Size="Size.Large"
                       Color="Color.Primary"
                       ButtonType="ButtonType.Submit">
                Add customer
            </MudButton>
        </MudItem>
    </MudGrid>
</MudForm>


@code{
    private CustomerViewModel _customer = new();
    private List<Countries> _countries = Enum.GetValues<Countries>().ToList();

    private async Task HandleSubmit()
    {
        await CustomerService.AddAsync(_customer);
        Snackbar.Add("Successfully added " + _customer.CompanyName);
    }


    private async Task<IEnumerable<Countries>> FilterCountries(string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            return _countries;
        }

        return await Task.FromResult(_countries.FilterByDisplayName(value));
    }

}
