@page "/createResource"
@using ResourceMaster.ViewModels
@using MudBlazor
@using ResourceMaster.Services.CustomerService
@inject ISnackbar Snackbar;
@inject ResourceService ResourceService;
@inject SkillService SkillService;

<h1>Create new applicant</h1>
<br>
<MudForm onsubmit="@HandleSubmit" Model="_resource">
    <MudStack Row="true" Spacing="4" AlignItems="AlignItems.Stretch">
        <MudGrid>
            <!-- Person -->
            <MudItem xs="12" sm="6">
                <MudPaper Class="pa-4">
                    <MudStack Row="true">
                        <MudAvatar Image="/person.jpg" Size="Size.Large"/>
                        <MudStack Justify="Justify.Center" Spacing="0">
                            <MudText Class="resource-header">Applicant</MudText>
                        </MudStack>
                    </MudStack>
                </MudPaper>

                <MudPaper Class="pa-4 equal-height-second-box">
                    <MudStack Row="true" Spacing="4" Grow="1">
                        <MudStack Spacing="4" Class="flex-grow">
                            <MudStack Row="true">
                                <MudTextField @bind-Value="_resource.FirstName" Label="First name" id="firstname" Variant="Variant.Outlined"/>
                                <MudTextField @bind-Value="_resource.LastName" Label="Last name" id="lastname" Variant="Variant.Outlined"/>
                            </MudStack>
                            <MudTextField @bind-Value="_resource.Age" Label="Age" id="age" Variant="Variant.Outlined" Min="0" Max="99"/>
                        </MudStack>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <SkillSelection skillOptions="@skillOptions" OnItemSelected="skills => _resource.Skills = skills"/>
        </MudGrid>
    </MudStack>
    <SkillOverview/>
    <MudGrid>
        <MudItem xs="12" Class="my-4 text-center">
            <MudButton Variant="Variant.Filled"
                       Size="Size.Large"
                       Color="Color.Primary"
                       ButtonType="ButtonType.Submit">
                Add applicant
            </MudButton>
        </MudItem>
    </MudGrid>
</MudForm>

@code{
    private ResourceViewModel _resource = new();
    private List<Countries> _countries = Enum.GetValues<Countries>().ToList();
    private List<SkillViewModel> _allSkills = new();
    private List<string> skillOptions = new();

    private async Task HandleSubmit()
    {
        await ResourceService.AddAsync(_resource);
        Snackbar.Add("Successfully added " + _resource.FirstName + " " + _resource.LastName);
    }

    private async Task<IEnumerable<Countries>> FilterCountries(string value)
    {
        if (string.IsNullOrEmpty(value))
        {
            return _countries;
        }

        return await Task.FromResult(_countries.FilterByDisplayName(value));
    }
    
    protected override async Task OnInitializedAsync()
    {
        // _allSkills = (await SkillService.GetAllAsync()).ToList();
        // _allSkills.ForEach(element => skillOptions.Add(element.SkillName));
        skillOptions = new List<string> { "Java", "C#", "SQL", "JavaScript", "Python", "Ruby", "Swift", "PHP", "Kotlin", "TypeScript" }.OrderBy(skill => skill).ToList();
    }
}
